body {
	background-color: #4188b6;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

#wrapper {
	margin: 0 auto;
	width: 750px;
}

#header {
}

#header_top {
	text-align: right;
	color: white;
	font-size: 10px;
	margin-bottom: 5px;
}

#header_top {}

#header_top img{
	float: left;
}

#menubar{
	background-color:#066;
}

#contentwrapper {
	float: left;
	width: 750px;
	background: #fff url(../imag/bg_content.jpg) repeat-y 100% 0;
}

#column_left{
	clear: left;
	float: left;
	width: 550px;
	padding: 0px;
	margin: 0px;
	display: inline;

	background-color: #FFF;

}

#column_right{
	float: right;
	width: 199px;
	padding: 0px ;
	margin: 0px;
	display: inline;

	background-color: #d7d7d7;
}

#footer {
	clear:both;
	height: 15px;
	color: #FFFFFF;
	text-align:center;
	font-size: 10px;
	border-top: 1px solid #000;
	padding-top:2px;
}

a.white {
	color: white;
	text-decoration: none;
}

a.white:hover{
	color: #FFFFFF;
	text-decoration: underline;
}

h4 {
	text-decoration: underline;
}

#content_login{
	margin: 0 auto;
	width: 750px;
	text-align: center;
}