/* CSS Document */

@import url('datePicker.css');


body
{
	background-color:#FFF;
	margin: 0;
	padding: 0;
	
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
}

#bar
{
	width: 100%;
	height: 25px;
	background-color: #515151;
	color: #FFF;
}

#menu 
{
	margin: 0 auto;
	width: 750px;
}

#header
{
	margin: 0 auto;
	width: 750px;
	height: 75px;
	clear: both;
}

.logo
{
	float: left;
}
.login 
{
	float: right;
	text-align:right;
	color: #000;
	margin-top: 10px;
}


.in_go
{
    border: none;
    background: url('../imag/project/button_login.jpg') no-repeat top left;
    padding: 2px 8px;
	width: 45px;
	height: 23px;
	border: 0px;
}

.in_email
{
	background-image: url(../imag/project/email.png);
	background-repeat:no-repeat;
	background-position: 2px 1px;
	padding-left: 18px;
	border: 1px solid #999;
}

.in_pwd
{
	background-image: url(../imag/project/key.png);
	background-repeat:no-repeat;
	padding-left: 18px;	
	background-position: 2px 1px;
	border: 1px solid #999;
}


#footer
{
	width: 100%;
	height: 125px;
	background-color: #515151;
	color: #FFF;
	border-top: 3px solid #393939;
	padding-top: 3px;
	text-align: center;
	
}

.members
{
	width: 750px;
	margin:0 auto;
	text-align: left;
	padding-left: 30px;
}

.members h1
{
	margin-left: -30px;
	font-family: Calibri;
	font-size: 18px;
	font-weight: bold;
}

#body_wrapper
{
	margin: 0 auto;
	width:750px;
	padding: 50px 0px;;
}

.section
{
	width:100%;
	border-bottom: 1px solid #d7d7d7;
	margin-bottom: 10px;
}



#b_form form { margin: 25px 0 0 29px; width: 450px; padding-bottom: 30px; }

#b_form fieldset { margin: 0 0 22px 0; border: 1px solid #d7d7d7; padding: 12px 17px; background-color: #FFF; }
#b_form legend { font-size: 1.1em; background-color: #d7d7d7; color: #A4A4A4; font-weight: bold; padding: 4px 8px; }

#b_form label.float { float: left; display: block; width: 100px; margin: 4px 0 0 0; clear: left; }
#b_form label { display: block; width: auto; margin: 0 0 10px 0; }
#b_form label.spam-protection { display: inline; width: auto; margin: 0; }

#b_form input.inp-text, textarea, input.choose, input.answer, input.date-pick { border: 1px solid #909090; padding: 3px; }
#b_form input.inp-text, input.files { width: 300px; margin: 0 0 8px 0; display: inline; }
#b_form textarea { width: 400px; height: 150px; margin: 0 0 12px 0; display: block; }

#b_form input.choose { margin: 0 2px 0 0; }
#b_form input.answer { width: 40px; margin: 0 0 0 10px; }
/*#b_form input.submit-button { font: 1.4em Georgia, "Times New Roman", Times, serif; letter-spacing: 1px; display: block; margin: 23px 0 0 0; }
*/
#b_form input.submit-button {
	border: none;
    background: url('../imag/project/signup.jpg') no-repeat top left;
    padding: 2px 8px;
	width: 174px;
	height: 23px;
	border: 0px;	
}

#b_form .err { float: right; width: 400px; text-align:right; color:#F00; }

#b_form form br { display: none; }

a.dp-choose-date {

	float: left;

	width: 16px;

	height: 16px;

	padding: 0;

	margin: 5px 3px 0;

	display: block;

	text-indent: -2000px;

	overflow: hidden;

	background: url(calendar.png) no-repeat; 

}

a.dp-choose-date.dp-disabled {

	background-position: 0 -20px;

	cursor: default;

}

/* makes the input field shorter once the date picker code

 * has run (to allow space for the calendar icon

 */

input.dp-applied {

	width: 140px;

	float: left;

}


a {
	
	color: #000;
	text-decoration: none;
}

a:hover {
	color:#000;
	text-decoration:underline;
}


.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 0px;
}