{$modules.head}

	<!-- This is an HTML comment -->
	{* This is a Smarty comment *}

	<div id="success">Welcome to my HomePage!</div>

	<br>

	<div id="ex1">Exercici 1</div>

	<div id="ex2">Exercici 2</div>

	<br>

	<div id="ex3">Exercici 3</div>

	<div id="ex4">Exercici 4</div>
		
<div class="clear"></div>
{$modules.footer}