{$modules.header}
 <div class="section">
     <img src="{$url.global}imag/project/section/delete.jpg" width="115" height="32" alt="Home" longdesc="Home - La Salle Social Travel" />
</div>
{if $nohay eq 'true'}
	You do not select a review to delete.
{else}

	{if $suya eq 'true'}	
		Are you sure you want delete this review?
		<form action="" method="post">
			<input type="submit" name="yes" value="Yes">
			<input type="submit" name="no" value="No">
		</form>
	{else}
		This review is not yours.
	{/if}
{/if}
{$modules.footer}