 {$modules.header}
 <div class="section">
     <img src="{$url.global}imag/project/section/follow.jpg" width="115" height="32" alt="Home" longdesc="Home - La Salle Social Travel" />
</div>
{if $vacio eq 'true'}

	You are not following any user.
{else}
	<table width="750" border="0" cellpadding="1" cellspacing="1" align="center">
		<tr>
			<td width="500" style="border-bottom:1px solid #000000;"><strong>Username</strong></td>
			<td style="border-bottom:1px solid #000000;"><strong>#</strong></td>
		</tr>
			{foreach from=$reviews item=rev}
			<tr>
				<td style="font-size: 14px;">{$rev.name}</td>
				<td style="font-size: 14px;"><a  href="{$url.global}review/unfollow/{$rev.id}">Unfollow</a></td>
			</tr>	
			{/foreach}
	</table>
	<br>
	<div id="pagin">
		
		{if $prev eq 'true'}
			<a href="{$url.global}review/follow/{$a_prev}">Previous</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		{/if}
		
		{if $next eq 'true'}
			<a href="{$url.global}review/follow/{$a_next}">Next</a>
		{/if}
	</div>
{/if}
{$modules.footer}