 	</div>
    <div id="footer">
      Copyright 2015 - Projectes WEB - GRUP 23<br />
      <div class="members">
      	<h1>Members</h1>
        <p>
        	 Jose Manuel Rodriguez Soto - tl20109<br />
        </p>
      </div>
    </div>
</body>
</html>
