<html>
<head>
 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="title" content="" />
	<meta name="robots" content="all" />
	
	<meta name="expires" content="never" />
	<meta name="distribution" content="world" />

<link rel="stylesheet" type="text/css" media="all" href="/css/project2.css">
</head>
<body>

 
 <title>Login - La Salle Social Travel</title>
<div id="body_wrapper">
		<h4> Login Member </h4>
	{if $isuser eq 'false'}
			<p>There is not user with that email or password. </p>
     {/if}   
         	<p>You are not logged in, please enter your correct information to logg in.</p>
         	<div id="b_form"> 
			  <form action="" method="post">
				  <fieldset>
						
					   <form action="" method="post">
				                <input class="in_email"  type="text" name="email" value="{$data.email}" /><br />
				                <input class="in_pwd"  type="password" name="password" value="{$data.pwd}"  /><br />
				              <input class="in_go" value="" type="submit" name="name" />
				       </form>
			 </form>
		</div> 
</div>		

</body>
</html>