 {$modules.header}
 <div class="section">
     <img src="{$url.global}imag/project/section/manage.jpg" width="115" height="32" alt="Home" longdesc="Home - La Salle Social Travel" />
</div>
{if $vacio eq 'true'}

	There are not reviews to manage.
{else}
	<table width="750" border="0" cellpadding="1" cellspacing="1" align="center">
		<tr>
			<td width="500" style="border-bottom:1px solid #000000;"><strong>Title</strong></td>
			<td style="border-bottom:1px solid #000000;"><strong>#</strong></td>
			<td style="border-bottom:1px solid #000000;"><strong>#</strong></td>
		</tr>
			{foreach from=$reviews item=rev}
			<tr>
				<td>{$rev.title}</td>
				<td><a  href="{$url.global}review/delete/{$rev.id}">Delete</a></td>
				<td><a  href="{$url.global}review/edit/{$rev.id}">Edit</a></td>
			</tr>	
			{/foreach}
	</table>
	<br>
	<div id="pagin">
		
		{if $prev eq 'true'}
			<a href="{$url.global}review/manage/{$a_prev}">Previous</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		{/if}
		
		{if $next eq 'true'}
			<a href="{$url.global}review/manage/{$a_next}">Next</a>
		{/if}
	</div>
{/if}
{$modules.footer}