{$modules.header}	
 <div class="section">
     <img src="{$url.global}imag/project/section/search.jpg" width="115" height="32" alt="Home" longdesc="Home - La Salle Social Travel" />
</div>
{if $vacio eq 'true'}
	The search field is empty.

{else}

	{if $nohay eq 'true'}
		There is no match found.
	{else}
		<table width="750" border="0" cellpadding="1" cellspacing="1" align="center">
		<tr>
			<td width="500" style="border-bottom:1px solid #000000;"><strong>Username</strong></td>
			<td style="border-bottom:1px solid #000000;"><strong>#</strong></td>
		</tr>
			{foreach from=$reviews item=rev}
			<tr>
				<td style="font-size: 14px;">{$rev.name}</td>
				<td style="font-size: 14px;"><a  href="{$url.global}review/follow/{$rev.id}">Follow</a></td>
			</tr>	
			{/foreach}
		</table>
		<br>
	{/if}
{/if}	
{$modules.footer}