{$modules.header}
 <div class="section">
     <img src="{$url.global}imag/project/section/follow.jpg" width="115" height="32" alt="Home" longdesc="Home - La Salle Social Travel" />
</div>
{if $nohay eq 'true'}
	You do not select a user to unfollow.
{/if}
{$modules.footer}